/bin/
/obj/
/.vs/
/.vscode/
*.suo
*.user
*.userprefs
*.cachefile
/Content/obj/
/Content/bin/
*.mgcb
*.xnb  
/packages/
*.nupkg
NuGet.config
/Content/Intermediate/
Thumbs.db
.DS_Store
*.VC.db
*.VC.VC.opendb
*.sln.iml
*.csproj.user
*.resharper
*.log
*.tlog
